<div class="container">
  <h1>Finalizados</h1>
  <div class="badge">
    <button (click)="voltar()" class="btn-voltar mat-elevation-z8" mat-raised-button color="basic">
      <mat-icon>keyboard_backspace</mat-icon> VOLTAR
    </button>
  </div>

  <div class="content" *ngFor="let item of listFinished">
    <mat-card class="mat-elevation-z8">
      <p>Data: {{item.dataParaFinalizar}}</p>
      <mat-card-header>
        <mat-card-title>{{item.titulo}}</mat-card-title>
        <mat-card-subtitle>{{item.descricao}}</mat-card-subtitle>
      </mat-card-header>

      <div class="actions">
        <button (click)="delete(item.id)" mat-mini-fab color="warn">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>

    </mat-card>
  </div>
</div>
